@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&family=Roboto:ital,wght@0,400;1,300&display=swap');

* {
    box-sizing:border-box
}

body {
    margin: 1rem;
    padding: 1rem;
    font-family: "Poppins", sans-serif;
}
